<h1>여기는 NEW 장소임</h1>

<div style="width:100%; padding:20px;">
    
    <input type="button", value="all" id="get_all_btn">
    |
    <input type="text", value="test" id="get_book_id">
    <input type="button", value="get", id="get_btn">
    |
    <input type="text", value="test" id="d_book_id">
    <input type="button", value="delete", id="delete_btn">
    |

    <%= form_with(model:@get_book, id: "get_book_data, local:false") do |form| %>

        <%= form.submit "Send" %>
    <% end %>
</div>
