<h1>여기는 NEW 장소임</h1>

<div style="width:100%; padding:20px;">
    <%= form_with(model:@get_book, id: "get_book_data, local:false") do |form| %>
        <%= form.label :title, "Search for : " %>
        <%= form.text_field :title %>
        <%= form.submit "Send" %>
    <% end %>
</div>

<script>
    $.ajax({ 
        mode: "cors",
        url: "https://kkhapi.herokuapp.com/books/", // 클라이언트가 HTTP 요청을 보낼 서버의 URL 주소 \
        data: {  }, //HTTP 요청과 함께 서버로 보낼 데이터 
        method: "GET", // HTTP 요청 메소드(GET, POST 등) 
        dataType: "json" // 서버에서 보내줄 데이터의 타입 
    })
        
    // HTTP 요청이 성공하면 요청한 데이터가 done() 메소드로 전달됨. 
    .done(function(json) {
        console.log("Good");
        console.log(json.data);
    })
    .fail(function(xhr, status, errorThrown) { 
            $("#text").html("오류가 발생했다.<br>")
        .append("오류명: " + errorThrown + "<br>")
        .append("상태: " + status); 
    }) 
        
    .always(function(xhr, status) { 
        alert("요청이 완료되었습니다!");
    });

</script>